/* Global styles */
body {
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
}

/* Header styles */
header {
    background-color: #3e3e3e;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
}

.logo {
    width: 80px;
    margin-right: 20px;
    filter: invert(100%);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 20px;
}

.logout {
    margin-left: auto;
}

.logout-button {
    background-color: #d85454;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #ed1c1c;
}

/* Navigation styles */
.navigation {
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.nav-button {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #ddd;
}

/* Main styles */
main {
    padding: 20px;
}

/* Container for specific content and charts */
.specific-content,
.chart-container {
    margin: 30px auto;
    padding: 30px;
    background-color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 60px);
    box-sizing: border-box;
}

.chart-container {
    display: flex;
    justify-content: space-around; /* Adjust as per the desired spacing */
    align-items: flex-start;
    gap: 20px; /* Optional: Use gap to add space between the boxes */
}

/* Chart box styles */
.chart-box {
    flex: 1;
    max-width: calc(50% - 10px); /* Adjust width as needed */
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .chart-container {
        flex-direction: column;
    }
    .chart-box {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

/* Wide search bar */
.wide-search {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.wide-search input[type="text"],
.wide-search button {
    padding: 10px;
    border-radius: 5px;
}

.wide-search input[type="text"] {
    flex: 1;
    border: 1px solid #ccc;
}

.wide-search button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wide-search button:hover {
    background-color: #0056b3;
}

/* Dashboard and balances */
#positions {
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    overflow-x: auto;
}

#positions table {
    width: 100%;
    border-collapse: collapse;
}

#positions th,
#positions td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

#positions th {
    background-color: #3e3e3e;
    color: white;
}

#positions tr:nth-child(even) {
    background-color: #f2f2f2;
}

#positions tr:hover {
    background-color: #ddd;
}

#positions th:first-child,
#positions td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#positions th:last-child,
#positions td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.balances {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
}

.balance-item {
    background: #f8f8f8;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 20px;
    width: 200px; /* Adjust width as needed */
    margin: 0 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.balance-item h3 {
    color: #333;
    margin-bottom: 10px;
}

.balance-item p {
    color: #7d57c1;
    font-size: 1.5em;
    font-weight: bold;
}

.hello-user {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 40px 0;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    order: 1;
}

/* Shared table styles */
.coin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .coin-thead th {
    background-color: #3e3e3e;
    color: white;
    padding: 12px;
    text-align: left;
  }
  
  .coin-tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .coin-tbody tr:nth-child(even) {
    background-color: #eaeaea;
  }
  
  .coin-tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .coin-tbody tr:hover {
    background-color: #ddd;
  }
  