{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h3>Available Coins:</h3>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

            {% for transactions in transactions %}
            <tr>
                <td>{{ transactions.symbol }}</td>
                <td>{{ transactions.id }}</td>
                <td>{{ transactions.priceUsd | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}